.sample-sign-in{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 35%;
  width: 30%;
  padding: 10px 10px 10px 10px;
  background-color: #00000042;
  border-radius: 5px
  
  
  
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  
}